body {
    background-color: black;
    overflow-x: hidden;
}

.site-header {
    position: relative;
    z-index: 1000;
    /* Other styles */
}

.header-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.header-button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #303030; /* New color on hover */
    transition: top 0.3s ease-in-out;
}

.header-button:hover::before {
    top: 0;
}

.header-button span {
    position: relative;
    z-index: 1000;
    transition: color 0.3s ease-in-out;
}

.header-button-container {
    height: 100%;
}

@media (min-width: 661px) {
    .header-button-mobile {
        display: none;
    }
}

.empty-block {
    height: 200vh;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.9s ease-in-out;
    z-index: 1000;
}

.nav-bar-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    -webkit-backdrop-filter: blur(10px); /* For better compatibility */
    background-color: rgba(30, 30, 30, 60%);
    transition: all 0.9s ease-in-out;
    z-index: 1000;
}

.gradient-canvas {
    position: fixed;
    z-index: -1000;
}

.front-cover {
    height: 100vh;
    display: flex;
    align-items: center;
}

.title-card {
    margin-left: 20vw;
    font-size: 12vw;
    transform: translateY(-10vh);
    font-weight: bolder;
}

@media (max-width: 1200px) {
    .title-card {
        margin-left: 6vw;
        margin-right: 6vw;
    }
}

@media (max-width: 660px) {
    .header-button-desktop {
        display: none;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for all other browsers */
body, html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.down-indicator {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 3vh;
    padding: 6px 6px 4px;
    transition: top 0.6s ease-in-out;
}

.down-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust if needed to align the border correctly */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-bottom: 2px solid white; /* Adjust color as needed */
    transition: width 0.6s ease-in-out;
}

.down-indicator:hover::after {
    width: 75%;
}